hr{
    margin: 4px 0px;
}

.forgot{
    border: 1px solid rgb(229, 229, 229);
    margin: 10px 400px;
    box-shadow: 1px 1px 3px black;
    padding: 3px;
}
.forgot-form{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.forgot-form input{
    padding: 10px 100px;
    margin: 10px 15px;
    border-bottom: 1px solid rgb(206, 205, 205);
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    transition-property: all;
    transition-duration: 0.4s;
}
.forgot-form h3{
    transform: skew(-10deg);
    border-bottom: 1px solid rgb(154, 154, 154);
    width: 100vw;
}
.forgot-form  button{
    padding: 5px 200px;
    cursor: pointer;
    margin: 10px 0px;
    background-color: #687cc5;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border-radius: 3px;
}
.forgot-form input:hover{
    border-bottom: 1px solid rgb(155, 155, 155);
}
.forgot-form input:placeholder-shown{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}