<a routerLink="/auth/login"><h1>BAck to Login Page</h1></a>
<section class="forgot" >
    <img src="https://demo.pearlerp.com/Images/erp-logo-small.png" alt="logo">
    <form method="post" class="forgot-form" #basicForm="ngForm" (ngSubmit)="data(basicForm.value)">
        <h3 class="gill light center">Forgot Password</h3>
        <hr>
        <input ngModel type="email" name="myemail" id="myemail" placeholder="Email" value="mail">
        <button type="submit">Send</button>
    </form>
</section>